* {
    margin: 0px;
    padding: 0px;
    font-family: "Comforta";
}

:root {
    --text-color: #9c9c9c;
    --title-color: #646464;
    --type-device-color: #bbbbbb;
    --color-button: #232323;

}

@font-face {
    font-family: "Comforta";
    src: url(fonts/Comfortaa-Bold.ttf);
}


body {
    background: url(../img/paven.png);
    max-width: 100%;
}

/*Encabezado*/
a{
    text-decoration: none;
}
header {
    height: 100px;
    width: 100%;
}

#logotipo {
    height: 80px;
    width: 500px;
}

#logoTexto {
    display: flex;
    flex-direction: column;
}

#symbol {
    float: left;
    display: block;
    height: 80px;
    margin: 15px;
}

h1 {
    font-size: 40px;
    font-family: "Comforta";
    color: #b5482a;
    margin-top: 35px;

}

.tagline {
    font-family: "Comforta";
    letter-spacing: 3px;
    font-size: 15px;
    color: #606060;
    line-height: 12px;
    margin-left: 85px;
}

/*MENU*/
header {
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
}

#menu {
    height: 70px;
    width: 520px;

}

#menu ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0px 20px 0px 20px;
}

#menu ul li {
    width: auto;
    padding-right: 20px;
    height: 90px;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
    line-height: 100px;
    text-align: center;
}

#menu ul li:hover a {
    color: #b5482a;
    transform: scale(1.1);
    transition: all 300ms;

}

#menu ul li a {
    display: flex;
    text-decoration: none;
    color: gray;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;

}

.wrap #miSaludo {
    font-size: 60px;
    width: 625px;
    margin-top: 25px;
    margin-left: 25px;
    color: #606060;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}


#mifoto {
    height: 300px;
    border-radius: 400px;
    margin-right: 40px;
}

#gameGroups {
    display: flex;
    flex-direction: column;
}

.gameDescription {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0px 6px 2px grey;
}

.gameDescription h3 {
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    font-size: 25px;
}


.type-device {
    color: var(--type-device-color);
}

.gameDescription>p {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 800px;
    line-height: 30px;
    color: var(--text-color);
}

.android-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    background-color: var(--color-button);
    border-radius: 6px;
}

.android-btn svg {
    margin-right: 10px;
}

.itchio-logo{
    height: 60px;
    width: 180px;
    margin: 0px;

}
.android-btn div p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.strong {
    font-family: 'Comfortaa', cursive;
    font-family: 'Varela Round', sans-serif;
}

.games {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 50px;

}

.games .cover {
    height: 300px;
    transition: all 300ms;
    box-shadow: 0px 0px 6px 2px gray;
}

footer {
    width: 100%;
    height: 150px;
    background: #b5482a;
    margin-top: 120px;
    
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: white;
    font-family: "Comforta";
}

.logosContacto {
    margin: 0px auto;
    width: 250px;
    margin-top: 10px;
    display: block;
}

.logosContacto img {

    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    float: left;
    height: 40px;
    display: block;
}

#developer {
    margin: auto;
    width: 100%;
    display: block;
}

#developer p {
    line-height: 14px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    display: block;
}

.linkButton{
    width: 100px;
    display: block;
}
/*----------ACERCA DE MI*-----------*/
#saludoDescripcion {
    margin-left: 20px;
}
#saludoDescripcion p{
    width:500px;
    line-height: 30px;
}

#midescripcion {
    justify-items: center;
    font-size: 26px;
    color: #606060;
    margin-top: 30px;
    margin-right: 40px;
    text-align: center;
    width: 70%;
}


.containerFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;

}

#tecnologias div {
    margin: 10px;
}

#tecnologias div img:last-child {
    height: 80px;
}

#blender {
    padding-top: 10px;
}



/*----------- Contacto -------------*/
.containerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 0px;
    margin-top: 80px;
}

#contacto {
    width: 400px;
    height: 400px;
    background: #b5482a;

}



#datos {
    display: flex;
    flex-wrap: wrap;
    color: #b5482a;
    margin-left: 40px;
    flex-direction: column;
    flex-basis: 500px;
}


.dataContacts{
    display: flex;
}
#redes {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: center;
    flex-direction: column;

}

#redes img {
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
    -ms-flex-align: center;
}

#listaContactos {
    flex-direction: column;
    margin-top: 48px;
}

#infoRedes {
    display: flex;
}

#listaContactos li {
    list-style: none;
    font-style: normal;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 20px;

}
#listaContactos li:last-child{
    margin-top: 40px; ;
}

#listaContactos li p {
    margin-top: 10px;
}

#listaContactos li a {
    line-height: 50px;
    text-decoration: none;
    color: #b5482a;
}

#tituloContacto {
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 340px;
    color: white;
    font-family: "Comforta";
    font-size: 60px;
    line-height: 400px;

}



/*------------------ PORTAFOLIO------------------*/
.wrap #titulo {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 40px;

}

#titulo>h2 {
    font-size: 25px;
    text-align: center;
    color: var(--title-color);
}

/*RESPONSIVE*/

@media (max-width:1170px) {
    .wrap {
        height: 80%;
    }

    .wrap #miSaludo {
        font-size: 50px;
        width:100%;
    }

    #saludo {
        display:flex;
    }

    #gameGroups {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .gameDescription>p {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
    }
}



@media(max-width:1057px) {

    .android-btn div p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

@media(max-width:1032px) {
    header {
        width: 100%;
        height: 100px;
    }

    #menu {
        float: none;
        margin: 0px auto;
    }

    #logotipo {
        float: none;
        margin: 0px auto;
    }

    #menu ul {

        justify-content: center;

    }

    #menu ul li a {
        font-size: 15px;
    }

    .wrap #miSaludo {
        font-size: 45px;
        
        margin-top: 48px;
    }

    .games {
        margin: 20px;
    }

}

@media (max-width:935px) {
    #contacto {
        width: 100%;
    }

    .containerFlex {
        flex-direction: row;
    }

    .gameDescription>p {
        font-size: 13px;
        margin-right: 10px;
    }
}

@media(max-width:841px) {
    header {
        height: 200px;
    }

    .header {
        flex-direction: column;

    }

    #menu {
        margin: 0px auto;
        flex-grow: 1;
        justify-content: center;
    }

    #menu ul {
        display: inline-flex;
        margin-right: 5px auto;
        justify-content: center;
        width: 100%;

    }

    #menu ul li {
        flex-grow: 1;
        justify-content: center;
        text-align: center;
    }

    #menu ul li:last-child{
        padding-right: 0px;
    }

    #menu ul li a {
        display: inline-flex;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        margin: none;
    }

    #logotipo {
        width: 350px;
        height: 110px;
    }

    #logotipo img {
        height: 80px;
    }

    #logotipo h1 {
        font-size: 30px
    }

    #logotipo h2 {
        font-size: 10px;
        letter-spacing: 3px;
        margin-left: 65px;
    }

    #container {
        flex-direction: column;
    }

    #mifoto {
        margin-right: 0px;
    }

    .wrap #miSaludo {
        text-align: center;
        margin-left: 0px;
    }
}

@media (max-width:718px) {

    .games {
        flex-direction: column;
        align-items: center;
        flex-basis: 750px;
    }
    
    .photoDivGame a img {
        height: 400px;
        width: 400px;
    }

    .gameDescription {
        margin-top: -3px;
        box-shadow: 0px 0px 6px 2px gray;
        width: 360px;
    }

    .containerFlex{ /*pagina acerca de mi*/
        flex-direction: column;
    }
    #datos{
        margin-top: 80px;
    }   

    #menu ul {
        margin: 0px;
    }

}

@media(max-width:530px) {
    header {
        height: 200px;
        justify-content: center;
    }

    #logotipo {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        width: 340px;
        margin: 0px auto;
        height: 110px;
    }

    #logotipo img {
        height: 80px;
    }

    #logotipo h1 {
        font-size: 30px
    }

    #logotipo h2 {
        font-size: 10px;
        letter-spacing: 3px;
        margin-left: 65px;
    }

    #menu {
        height: auto;
        margin: 0px auto;
        width: auto;

    }

    #menu ul {
        margin: 0px;
    }

    #menu ul li {
        width: auto;
        margin-left: 15px;
        margin: 0px auto;
    }

    #menu ul:last-child{
        padding-right: 0px;
        margin-right: 0px;

    }   
    #menu ul li a {
        display: inline-flex;
        justify-content: center;
        width: auto;
        margin: 0px auto;
    }


    #saludo #miSaludo {
        margin-top: 20px;
        margin-right: 20px;
        font-size: 40px;
        line-height: 50px;
        margin: 0px auto ;
        margin-top:40px ;
    }

}


@media(max-width:430px) {

    #saludo #miSaludo {
        margin-top: 20px;
        font-size: 30px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top:40px ;
    }

    .games {
        justify-content: center;
        height: 300px;
    }

    .photoDivGame a img {
        width: 300px;
        height: 300px;
    }

    .gameDescription{
        width: 260px;
    }

    #timmy-device{
        margin-top: 40px;
    }

}
@media (max-width: 375px){

    header{
        width: 375px;
    }
}



